.title{
    padding: (10px 16px);
}
.wrapperTextField {
    padding: (20px 20px);
}
.textField {
    margin-bottom: 5px;    
}
.dialogTitle {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}
.dialogContent {
    text-align: center;
    margin-bottom: 5px;
}
.wrapperDialog {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.errorText {
    color: red;
    margin-top: 15px;
}
