.wrapperDetail {
    .wrapperDetailItem {
        margin-bottom: 20px;
        .react-rater {
            font-size: 2rem;
        }
    }
     
    .buttonDetail {
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: blue;
        color: white;
    }
    .cardComment {
        margin-top: 10px;
    }
    .seeMore {
        margin-left: 100px;
    }
    .rater {
        display: flex;
        align-items: center;
    }
    .raterNumber {
        margin-left: 5px;
        color: gray;
        font-size: 18px;
    }
    .commentRater {
        margin-left: 5px;
        .react-rater {
            font-size: 1.4rem;
            margin-top: -3px;
        }
    }
}
.wrapperCommentsList{
    padding: (0 50px);
    .wrapperCommentItem {
        margin-bottom: 20px;
    }
    .wrapperUser {
        display: flex;
        align-items: center;
    }
    .name {
        color: gray;
        margin-left: 10px;
        font-weight: bold;
    }
    .desc {
        margin-left: 50px;
        margin-top: 5px;
        color: gray;
    }
}