.wrapperStarRatingField {
    display: flex;
    align-items: center;
    .react-rater {
        font-size: 1.5rem;
    }
}


.react-rater-star {
    color: #ccc;
}
.react-rater-star.is-active {
    color: #fc6; 
}
.react-rater-star.will-be-active {
    color: #fc6; 
}
.react-rater-star.is-active-half::before {
    color: #fc6; 
}